  <div class="inner">
      <h2 class="page-heading"><%= " #{@government.name}の試験情報" %></h2>
     <div class="contents"> 
     <% if @exams.exists? %>
       <% @exams.each do|exam| %>
          <div class="content">
            <li class="list">
              <%= "募集職種:#{exam.category.name}" %>
            </li>
            <li class="list">
              <%= "日程:#{exam.date}"%>
            </li>
            <li class="list">
              <%= "年齢制限:#{exam.age}" %>
            </li>
            <%# いいね %>
            <li class="list">
              <%= render 'likes/like', { exam: exam} %>
            </li>
             <%# 編集・削除 %>
            <div class="exam__manage">
            <% if exam.government  == current_government %>
               <%= link_to "編集する", edit_exam_path(exam.id) %>
               <%= link_to "削除する", exam_path(exam),method: :delete%>
            <% end %>
            </div>
          </div>

        <% end %>
      <% else %>
       現在募集中の職種はありません 
      <% end %>
     </div>
  </div>