<h2 class="page-heading"><%= " #{@government.name}が募集している職種" %></h2>
<div>
  <%= image_tag @government.image.variant(gravity: :center, resize:"300x200^", crop:"300x200+0+0") if @government.image.attached? %>
</div>
<div class="exams"> 
  <% if @exams.exists? %>
    <% @exams.each do|exam| %>
      <div class="exam">
        <div class ="exam__inner">
          <a href="/exams/<%= exam.id %>">          
          <div class ="exam__info">
            <div class="exam__list">
              <%= "募集職種:#{exam.category.name}" %>
            </div>
            <div class="exam__list">
              <%= "日程:#{exam.date}"%>
            </div>
          </div>
          </a>
          <% if exam.government  == current_government %>
          <div class="exam__manage">
            <div class="exam__list">
              <%= link_to "編集", edit_exam_path(exam.id) %>
            </div>
            <div class="exam__list">
              <%= link_to "削除", exam_path(exam),method: :delete%>
            </div>
          </div>
          <% end %> 
        </div>
        <div class="exam__like">
          <%= render 'likes/like', { exam: exam} %>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="exam" style="border:none;">
       現在募集中の職種はありません 
    </div>
  <% end %>
</div>