<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= " #{@government.name}の試験情報" %>
     
       <% @exams.each do|exam| %>
            <li class="exam_list">
              <%= exam.category.name%>
            </li>
            <li class="exam_list">
              <%= exam.date %>
            </li>
            <li class="exam_list">
              <%= exam.age %>
            </li>
           <% if exam.government  == current_government %>
              <div class="govrnment__manage">
                <%= link_to "編集する", edit_exam_path(exam.id) %>
                <%= link_to "削除する", exam_path(exam),method: :delete%>
              </div>
          <% end %>
        <% end %>
    </div>
  </div>
</div>