<%if user_signed_in? %>
  <% if Like.find_by(user_id: current_user.id, exam_id: exam.id) %>
      <span class="fas fa-star like"  style="color:gold" data-id=<%= exam.id %>><%= exam.likes.count %></span>
  <% else %>
      <span class="far fa-star like"  data-id=<%= exam.id %>><%= exam.likes.count %></span>
  <% end %>
<% else %>
  <i class="far fa-star" ></i><%= exam.likes.count %>
<% end %>
