<div class="region" id="region-1">▶︎北海道・東北エリア</div>
<ul class="region__inner" style="display:none" id="area-1">
  <li><%= link_to "- 北海道", governments_path(prefecture_id:2) %></li>
  <li><%= link_to "- 青森県", governments_path(prefecture_id:3) %></li>
  <li><%= link_to "- 岩手県", governments_path(prefecture_id:4) %></li>
  <li><%= link_to "- 宮城県", governments_path(prefecture_id:5) %></li>
  <li><%= link_to "- 秋田県", governments_path(prefecture_id:6) %></li>
  <li><%= link_to "- 山形県", governments_path(prefecture_id:7) %></li>
  <li><%= link_to "- 福島県", governments_path(prefecture_id:8) %></li>
</ul>

<div class="region" id="region-2">▶︎関東甲信越エリア</div>
<ul class="region__inner" style="display:none" id="area-2">
  <li><%= link_to "- 茨城県", governments_path(prefecture_id:9) %></li>
  <li><%= link_to "- 栃木県", governments_path(prefecture_id:10) %></li>
  <li><%= link_to "- 群馬県", governments_path(prefecture_id:11) %></li>
  <li><%= link_to "- 埼玉県", governments_path(prefecture_id:12) %></li>
  <li><%= link_to "- 千葉県", governments_path(prefecture_id:13) %></li>
  <li><%= link_to "- 東京都", governments_path(prefecture_id:14) %></li>
  <li><%= link_to "- 神奈川県", governments_path(prefecture_id:15) %></li>
  <li><%= link_to "- 山梨県", governments_path(prefecture_id:20) %></li>
  <li><%= link_to "- 長野県", governments_path(prefecture_id:21) %></li>
</ul>

<div class="region" id="region-3">▶︎東海・北陸エリア</div>
<ul class="region__inner" style="display:none" id="area-3">
  <li><%= link_to "- 新潟県", governments_path(prefecture_id:16) %></li>
  <li><%= link_to "- 富山県", governments_path(prefecture_id:17) %></li>
  <li><%= link_to "- 石川県", governments_path(prefecture_id:18) %></li>
  <li><%= link_to "- 福井県", governments_path(prefecture_id:19) %></li>
  <li><%= link_to "- 岐阜県", governments_path(prefecture_id:22) %></li>
  <li><%= link_to "- 静岡県", governments_path(prefecture_id:23) %></li>
  <li><%= link_to "- 愛知県", governments_path(prefecture_id:24) %></li>
  <li><%= link_to "- 三重県", governments_path(prefecture_id:25) %></li>
</ul>

<div class="region" id="region-4">▶︎近畿エリア</div>
<ul class="region__inner" style="display:none" id="area-4">
  <li><%= link_to "- 滋賀県", governments_path(prefecture_id:26) %></li>
  <li><%= link_to "- 京都府", governments_path(prefecture_id:27) %></li>
  <li><%= link_to "- 大阪府", governments_path(prefecture_id:28) %></li>
  <li><%= link_to "- 兵庫県", governments_path(prefecture_id:29) %></li>
  <li><%= link_to "- 奈良県", governments_path(prefecture_id:30) %></li>
  <li><%= link_to "- 和歌山県", governments_path(prefecture_id:31) %><li>
</ul>

<div class="region" id="region-5">▶︎中国四国エリア</div>
<ul class="region__inner" style="display:none" id="area-5">
  <li><%= link_to "- 鳥取県", governments_path(prefecture_id:32) %></li>
  <li><%= link_to "- 島根県", governments_path(prefecture_id:33) %></li>
  <li><%= link_to "- 岡山県", governments_path(prefecture_id:34) %></li>
  <li><%= link_to "- 広島県", governments_path(prefecture_id:35) %></li>
  <li><%= link_to "- 山口県", governments_path(prefecture_id:36) %></li>
  <li><%= link_to "- 徳島県", governments_path(prefecture_id:37) %></li>
  <li><%= link_to "- 香川県", governments_path(prefecture_id:38) %></li>
  <li><%= link_to "- 愛媛県", governments_path(prefecture_id:39) %></li>
  <li><%= link_to "- 高知県", governments_path(prefecture_id:40) %></li>
</ul>

<div class="region" id="region-6">▶︎九州・沖縄エリア</div>
<ul class="region__inner" style="display:none" id="area-6">
  <li><%= link_to "- 福岡県", governments_path(prefecture_id:41) %></li>
  <li><%= link_to "- 佐賀県", governments_path(prefecture_id:42) %></li>
  <li><%= link_to "- 長崎県", governments_path(prefecture_id:43) %></li>
  <li><%= link_to "- 熊本県", governments_path(prefecture_id:44) %></li>
  <li><%= link_to "- 大分県", governments_path(prefecture_id:45) %></li>
  <li><%= link_to "- 宮城県", governments_path(prefecture_id:46) %></li>
  <li><%= link_to "- 鹿児島県", governments_path(prefecture_id:47) %></li>
  <li><%= link_to "- 沖縄県", governments_path(prefecture_id:48) %></li>
</ul>