<%= form_with(model:exam,local:true) do |f|%>
  
  <div class="field">
   <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"category-select"}) %>
  </div>

  <div class="field">
    <%= f.label :date, "日程" %><br />
   <div class='input-birth-wrap'>
      <%= raw sprintf(
                  f.date_select(
                    :date,
                    class:'select-birth',
                    id:"birth-date",
                    use_month_numbers: true,
                    prompt:'--',
                    start_year: 2021,
                    end_year: (Time.now.year + 1),
                    date_separator: '%s'),
                  "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :age, "年齢制限" %><br />
    <%= f.text_field :age %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>