<div class="greeting">
  <% if user_signed_in? %>
      <%= "こんにちは、" %>
      <%= link_to "#{current_user.name}さん",like_path(current_user) %>
  <% elsif government_signed_in? %>
      <%= link_to "#{current_government.name}",government_path(current_government) %>
      <%= "でログインしています" %>
  <% end %>
</div>

<div class = "search">
  <h2  class="subheading">条件から探す</h2>
  <%= render partial:"search"%>
</div>

<div class = "area">
  <h2  class="subheading">エリア・都道府県から探す</h2>
  <%= render partial:"area"%>
</div>