  <div class="info__img">
  <%= image_tag @exam.government.image.variant(gravity: :center, resize:"150x100^", crop:"150x100+0+0")  %>
  </div>
  <div class = "info"> 
  <table class="table table-striped">
    <thead class="thead-light">
      <tr>
        <th  scope="col" colspan="6">試験情報</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope ="row">自治体</th>
        <td><%= @exam.government.name %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">職種</th>
        <td><%= @exam.category.name %></td>
        <td colspan="4"></td>
      </tr>
      <tr>
        <th scope="row">日程</th>
        <td><%= @exam.date %></td>
        <td colspan="4"></td>
      </tr>
      <tr>
        <th scope="row">年齢制限</th>
        <td><%= @exam.age %></td>
        <td colspan="4"></td>
      </tr>
      <tr>
        <th scope="row">採用人数</th>
        <td><%= @exam.capacity %></td>
        <td colspan="4"></td>
      </tr>
      <tr>
        <th scope="row">選考方法</th>
        <td>筆記試験→面接</td>
        <td colspan="4"></td>
      </tr>
    </tbody>
  </table>
</div>